<%- include("./partials/header.ejs")%>

    <body>
        <div class="container">
            <p>
                <a href="http://localhost/Garagem_Login/led_zeppelin.php" target="blank"><strong>Led Zeppelin</strong></a>, <a href="http://localhost/Garagem_Login/queen.php" target="blank"><strong>Queen</strong></a>, <a href="http://localhost/Garagem_Login/nirvana.php"
                    target="blank"><strong>Nirvana</strong></a>, <a href="http://localhost/Garagem_Login/acdc.php" target="blank"><strong>AC/DC</strong></a>, <a href="http://localhost/Garagem_Login/led_zeppelin.php" target="blank"><strong>Guns N' Roses</strong></a>,
                <a href="http://localhost/Garagem_Login/" target="blank"><strong>(...)</strong></a>, não posso dizer quando e quais dessas bandas você, leitor, viu pela primeira vez em alguma foto, vídeo ou anúncio e se sentiu transformado pela aparência
                das bandas e a sonoridade das suas músicas, mas afirmo sem medo de errar: você era jovem.
            </p>

            <p>
                A maioria dos fãs de rock n’ roll acaba se conectando com as suas bandas preferidas na adolescência, aos 15 ou 16 anos de idade, quando têm contato com suas canções de uma forma ou de outra e se sentem não apenas atraídos por aquilo, mas movidos a mudarem
                o mundo, se rebelarem ou pegarem uma guitarra para aprender a tocá-la.
            </p>

            <p>
                O grande lance é que o impacto do rock nos atinge em uma das fases mais complicadas e mais doidas de nossas vidas, e serve como parte fundamental da juventude. Às vezes como combustível, e outras tantas como apoio para momentos difíceis.
            </p>

            <p>
                Desde que você viu a sua banda favorita pela primeira vez, seja nos anos 70, 80, 90 ou 2000, é bem provável que tenha crescido, amadurecido e passado a se preocupar com a tal da vida adulta, e em muitos casos o que resta são apenas as memórias daquele
                descobrimento: a primeira vez de um disco, o primeiro show. Tudo devidamente marcado para sempre nos nossos cérebros.
            </p>

            <p>
                Ao mesmo tempo, parece que a idade vem e a gente cria um bloqueio para o que é novo, algo na linha de que “no meu tempo era melhor”, erguendo um verdadeiro muro para novas bandas, novos gêneros e novos sons. Sentimos falta da injeção de ânimo que recebemos
                aos 15, procuramos isso aos 30 e quando não encontramos, acabamos frustrados.
            </p>

            <p>
                Nos frustramos com as bandas novas, em uma ligação direta com as frustrações de nossas vidas, e nos vemos boicotando cada vez mais justamente aquele que nos acolheu lá atrás, o tal do rock n’ roll, resultando na batida e cansativa frase de que “o rock
                morreu”.
            </p>

            <p>
                Basta ver quem são os grandes headliners de festivais mundo afora hoje em dia. Se não são do pop ou hip hop, são dinossauros do rock. A banda mais “nova” a ser headliner de um grande festival hoje em dia tem pelo menos 12 ou 15 anos de carreira. O Nirvana,
                por exemplo, quando foi a principal atração do Reading Festival 1992 tinha apenas cinco.
            </p>

            <p>
                Quando a gente se sabota procurando por aquele tempo bom que não volta nunca mais, sabotamos também a cena toda e só alimentamos uma indústria onde “o que presta” é o clássico apenas e tão somente.
            </p>

            <iframe width="100%" height="392px" src="https://www.youtube.com/embed/h2JgqF384cU" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <h2>Novas Bandas</h2>

            <p>
                Aqui na Página de Notícias do Rock!, falamos o tempo todo, todo dia, sobre bandas novas que lançam bons trabalhos no Brasil e no resto do mundo.
            </p>

            <p>
                Há sim, uma safra enorme de bons nomes do rock n’ roll surgindo nesse exato momento, enquanto você lê esse texto, e há uma soma de diversos fatores diferentes “contribuindo” para que elas não tenham o mesmo desempenho do passado.
            </p>

            <h2>Internet</h2>

            <p>
                Um deles é a internet, sem dúvidas. Antigamente, os veículos de mídia eram muito menos democráticos, bem como o acesso a estúdios, gravadoras, assessorias e mais.
            </p>

            <p>
                Dessa forma, as poucas bandas que conseguiam gravar um disco direito, lançá-lo por uma gravadora e aparecer na televisão, eram colocadas em posições de ídolos gigantescos, inalcançáveis, monopolizando a atenção e, por consequência, a base de fãs.
            </p>

            <p>
                Quando nós só tínhamos acesso a um canal de música e duas ou três rádios, o que passava por lá não apenas era lei, como era “o que tinha”. Os públicos eram direcionados por selos, gravadoras e figuras da mídia, e se concentravam em determinados artistas
                por uma série de fatores que iam do talento até os mais diversos interesses.
            </p>

            <p>
                A internet democratizou tudo isso, e hoje em dia é muito mais fácil gravar, lançar, distribuir e alcançar. Ao mesmo tempo, existem muito mais bandas e artistas, e os públicos são compartilhados. A música ficou mais diversa e ganhou muito com isso, e aquele
                lance de “ficar milionário” com uma banda de rock ficou no passado, dando espaço para quem realmente se procura com a qualidade do que faz.
            </p>

            <h2>E o futuro?</h2>

            <p>
                Gene Simmons, polêmico integrante do <a href="http://localhost/Garagem_Login/kiss.php" target="blank">KISS</a>, é um que adora falar por aí que o rock morreu. Seu argumento: “me mostre quem é o próximo Beatles e eu mudo a minha opinião.
                Nós não temos o próximo Beatles ou Bob Dylan, então, o rock morreu.”
            </p>

            <p>
                Ora, nós não sabemos onde estão as próximas bandas que farão sucesso, e cravar esse tipo de coisa, especialmente hoje em dia, é um tiro no pé. Nesse exato momento há um adolescente tocando guitarra em seu quarto e dando os primeiros passos para o que
                será um dos discos mais influentes dos próximos anos, mas a gente ainda não sabe.
            </p>

            <p>
                Ninguém sabia de Kurt Cobain quando todo mundo dizia que o rock havia morrido com a música disco nos anos 80. Ninguém sabia das bandas que surgiriam nos anos 70 e popularizariam o estilo que, nos anos 60, também foi “morto” por críticos que disseram que
                o que surgiu como um estilo interessante nos anos 50 havia sido ofuscado pelas drogas, e por aí vai.
            </p>

            <p>
                Estamos vivendo uma “seca” maior, isso é inegável. Os ciclos de renovação do rock costumam durar aproximadamente 10 anos, e já passou da hora de termos novos grandes nomes fazendo barulho pelo mundo. Em compensação, a revolução tecnológica nunca foi tão
                impactante e a indústria da música nunca sofreu um baque tão pesado quanto os desdobramentos todos proporcionados pela Internet, então é de se entender que a resposta seja tardia.
            </p>

            <p>
                Com crises políticas, humanitárias e sociais no mundo todo, é provável que explosões sonoras como o Rage Against The Machine apareçam em diversos cantos do planeta, e sabemos que o rock n’ roll é sempre uma das ferramentas utilizadas para tal fim.
            </p>

            <iframe width="100%" height="392px" src="https://www.youtube.com/embed/OZvTEtbnMmk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <h3>Abra Seus Ouvidos</h3>

            <p>
                Ainda não sabemos que bandas ou artistas serão os responsáveis pela revolução, mas já temos uma boa ideia pois escrevemos aqui diariamente a respeito das mais interessantes bandas nacionais e internacionais.
            </p>

            <p>
                Dos mais diversos cantos, crenças, classes sociais e gêneros, a música boa surge como um alento em tempos tão difíceis, e para não sermos os roqueiros frustrados que irão “matar” o Rock And Roll, precisamos sair daquele estado em que procuramos o que
                mexeu com a gente há décadas e abrirmos nossos ouvidos para o que irá mexer com a gente e as pessoas ao nosso redor hoje em dia.
            </p>

            <p>
                No Brasil, estamos expandindo cada vez mais as fronteiras e há cenas efervescentes no Norte, Nordeste, em Brasília, e é claro, no eixo Rio-São Paulo. As mulheres estão participando de forma fundamental nesse processo todo e estão envolvidas em bandas
                que têm feito alguns dos trabalhos mais interessantes do país, como Far From Alaska, Ventre, Rakta, Deb And The Mentals, Camarones Orquestra Guitarrística, Francisco el Hombre, Ema Stoned, BRVNKS e tantos outros nomes que poderiam ser
                citados aqui nesse texto e são retratados diariamente em nossas matérias.
            </p>

            <p>
                Fora do rock, mas com influências que claramente estão atingindo as bandas do estilo, as barreiras de gênero estão sendo destruídas e transformadas em canções e shows dos mais impactantes, com nomes como As Bahias e a Cozinha Mineira e Rico Dalasam.
            </p>

            <p>
                Lá fora, do Against Me! com sua vocalista transgênero e letras políticas aos punks latinos de Los Angeles retratados no documentário “Los Punks: We Are All We Have”, as pessoas estão fazendo o que gostam como forma de mostrarem quem são, na maneira mais
                brutalmente sincera e honesta possível.
            </p>

            <p>
                E a gente sabe como isso termina: com grandes obras que entram para a história justamente por transformá-la, um passo de cada vez.
            </p>

            <iframe width="100%" height="392px" src="https://www.youtube.com/embed/pzLIcIWx9hE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



        </div>



    </body>

    <%- include("./partials/footer.ejs")%>