<%- include ("./partials/header.ejs")%>

    <body>
        <div class="container">

            <header>
                <h1>“Deus abençoe as strippers”: Guns N’ Roses e a história do clássico “Appetite For Destruction”.</h1>
            </header>
            <br />

            <main>

                <article>

                    <h2>Em entrevista, Steven Adler relembrou processo de gravação do lendário disco e como strippers ajudavam a bancar os rockstars. </h2>

                    <p>
                        Em 2010, antes de <strong>Slash</strong>, <strong>Duff McKagan</strong> e <strong>Axl Rose</strong> fazerem as pazes e voltarem aos palcos com o <a href="http://localhost/Garagem_Login/guns_n_roses.php" target="blank">Guns N’ Roses</a>,
                        o ex-baterista <strong>Steven Adler</strong> deu uma entrevista bastante reveladora à revista <a href="https://www.loudersound.com/features/steven-adler-how-guns-n-roses-made-appetite-for-destruction" target="blank">Classic Rock</a>.
                    </p>

                    <p>
                        Ele foi questionado sobre o processo de composição do álbum <a href="http://localhost/Garagem_Login/guns_n_roses_01_appetite_for_destruction.php" target="blank">Appetite for Destruction</a>, que acabou se tornando não apenas um
                        clássico da banda mas também um marco histórico no Rock and Roll. Adler comentou:
                    </p>

                    <p>
                        <strong>"Nós cinco éramos irmãos. Nós vivíamos juntos. Nós comíamos juntos. Nós fodíamos juntos. E o Axl e todos os seus advogados nunca serão capazes de tirar o que nós conquistamos naquele momento de nossas vidas. Há milhões de músicos, mas colocar cinco em uma sala e fazê-los criar algo mágico, isso é raro. Nós tivemos isso no ‘Appetite for Destruction’.</strong>
                    </p>

                    <p>
                        <strong>Eu tenho memórias maravilhosas do ‘Appetite’. Porque nós simplesmente sabíamos. Eu, Axl, Slash, Duff, Izzy [Stradlin]… todos nós sabíamos aonde ele iria nos levar. Nós entrávamos na cabine e ouvíamos, olhando uns para os outros, dizendo: ‘Esse vai ser o melhor disco de todos os tempos’. A primeira vez que o ouvimos no rádio, nós éramos como pequenas crianças, pulando pra cima e pra baixo, gritando, cantando junto, dançando em círculos.</strong>
                    </p>

                    <p>
                        <strong>As canções eram tudo nós vivíamos, no entanto. Elas eram parte de nossas vidas. Éramos só nós cinco, nossos amigos malucos, e todas as experiências malucas. Você está morando nas ruas, você não tem nada… Deus abençoe as strippers! Porque as strippers fazem bastante grana, e se você tem sete ou oito delas ao seu lado, é bastante dinheiro. Elas queriam cuidar de nós, roqueiros".</strong>
                    </p>

                    <p>
                        As palavras de Adler definitivamente soam como as de uma pessoa presa ao passado — tanto ao seu próprio quanto ao de uma sociedade que aceitava comportamentos que hoje são felizmente tratados como absurdos — mas há um teor de sinceridade inegável nelas.
                    </p>

                    <h2>Guns N’ Roses e Appetite for Destruction</h2>

                    <p>
                        Justamente nesse sentido, o ex-baterista deixou bem claro que o trabalho sempre veio em primeiro lugar. Sexo, drogas e Rock and Roll era a filosofia — mas o Rock and Roll era a prioridade:
                    </p>

                    <p>
                        <strong>"Nós éramos rapazes jovens, e não tínhamos nada além de festas e vaginas em nossas mentes, mas quando era hora de ir ao estúdio, todo mundo se ajeitava.</strong>
                    </p>

                    <p>
                        <strong>Primeiro trabalhamos, depois festejamos. Eu fumava muita maconha, um pouco de álcool… mas heroína na banda durante o ‘Appetite’? Eu te garanto, nenhuma. Bom, não comigo pessoalmente. Nossos guitarristas, eles faziam umas coisas por aí de vez em quando. Mas a gente levava isso a sério. Nós dormíamos a tarde toda, íamos gravar, depois saíamos para festejar.</strong>
                    </p>

                    <p>
                        <strong>Exceto o Axl. Ele fazia suas partes sozinho. O Axl é um lobo solitário. Ele é tipo… eu não quero dizer o Drácula, mas ele gosta de ter seu espaço. Os vocais do Axl eram o que mais demorava, porque ele é um perfeccionista: alguns dos vocais, ele gravava uma palavra por vez. Mas a maioria das músicas eram no primeiro ou segundo take. ‘Sweet Child O’ Mine’ foi no primeiro take.</strong>
                    </p>

                    <p>
                        <strong>Houve [apenas] um incidente. Como banda, nós sempre dissemos que não deixaríamos ninguém nos dizer como escrever nossas músicas. Teve essa parte em ‘You’re Crazy’… originalmente ela era no tempo normal do começo ao fim, mas o [produtor] Mike Clink disse: ‘Ei, por que vocês não fazem o verso com o tempo pela metade?’ Pensando que todo mundo iria se levantar e dizer: ‘Vá se foder, não nos diga o que fazer!’ eu acabei sendo o único a levantar e dizer isso. Todo mundo só ficou me olhando".</strong>
                    </p>

                    <p>
                        Ele também deixou bem claro que não teve nenhum problema pessoal com Axl — seja por ele ter transado com a garota que na época era sua namorada ou pelo vocalista receber mais pelas músicas. O que levou à queda do Guns N’ Roses, segundo Adler, foi única
                        e exclusivamente o uso de drogas:
                    </p>

                    <p>
                        <strong>"Ah, aquela era só uma namorada antiga, uma stripper. Nós tínhamos, tipo, oito ou nove strippers que eram parte do nosso pequeno clã. Ela só acabou sendo a que eu estava beijando naquele momento. Mas eu não me importei que o Axl transou com ela. Claro que não. Ele estava fazendo isso pela banda. Transe à vontade!</strong>
                    </p>

                    <p>
                        <strong>A divisão [também] era perfeita. As letras eram do Axl, então eu pensei que era justo que ele ganhasse um pouco mais. Sem brigas, eu ofereci: eu disse, ‘Cara, você leva 5% do meu; eu tiro 15, você tira 25.’ Letras são importantes. Você dirige por aí em seu carro, você está cantando as letras. Mas claro, eu ganhei muito dinheiro com o ‘Appetite’… Você não consegue vender esse tanto de discos sem ganhar dinheiro.</strong>
                    </p>

                    <p>
                        <strong>Nossos relacionamentos não mudaram durante o ‘Appetite’. As coisas só começaram a mudar depois que estávamos na estrada, e havia tantas drogas e álcool. Nós nem tínhamos que pedir por drogas… Tudo que precisávamos fazer era pensar, e elas apareciam em um passe de mágica. Você só pensa: ‘Eu quero uma grande fileira de coca’ e pronto! Eu fui muito inocente com a heroína. Eu usei por dois meses consecutivos, fiquei doente, e o médico me deu esse bloqueador de ópio. Eu fiquei ainda mais doente, e nós tivemos que ir para o ‘Civil War’ e eu não conseguia tocar.</strong>
                    </p>

                    <p>
                        <strong>O que me incomoda é que nós nunca terminamos o que começamos — por minha causa. ‘Use Your Illusion’ teria sido maior e melhor. Se eles não tivessem aquele baterista [Matt Sorum]… Ele é tipo uma máquina, ninguém quer ouvir isso. Você quer ouvir swing, sentimento, groove — é assim que eu toco. Eu fiz as demos do ‘Use Your Illusion’; nós tocávamos as músicas, íamos à cabine e falávamos: ‘Isso vai ser maior que a porra do ‘Appetite”.</strong>
                    </p>

                    <p>
                        <strong>E teria sido. Mas porque eu fiz merda, nós não terminamos o que começamos. Anos depois, a gente ainda não consegue finalizar o que começamos. Significa tanto para mim fazer isso".</strong>
                    </p>

                    <p>
                        Não à toa, Steven se mostrou bastante chateado quando a reunião do Guns foi anunciada sem a sua participação. Lá em 2010, quando essa entrevista foi ao ar, o cara deixou bem claro que ainda considerava Axl um irmão e queria muito se reunir com ele:
                    </p>

                    <p>
                        <strong>"Slash e Duff são parte da minha vida de novo. Izzy é como um cigano, ele só viaja o mundo, mas eu tenho tentado falar com ele. Mais do que qualquer outra coisa, eu quero ser parte da vida do Axl de novo.</strong>
                    </p>

                    <p>
                        <strong>Nós somos irmãos. E o que irmãos fazem? Eles brigam. Só porque você não gosta do seu irmão às vezes não significa que você não o ame."</strong>
                    </p>

                    <h3><a href="http://localhost/Garagem_Login/guns_n_roses_01_appetite_for_destruction.php" target="parent"> Confira o álbum - Appetite For Destruction AQUI! </a></h3>

                </article>
            </main>
        </div>
        <br />
    </body>

    <%- include ("./partials/footer.ejs") %>