<%- include ("./partials/header.ejs")%>

    <body>
        <div class="container">
            <h1>Lollapalooza Brasil é adiado de novo e perde <a href="http://localhost/Garagem_Login/guns_n_roses.php" target="blank">Guns N’ Roses</a>.</h1>
            <br />

            <h2>Situação para realizar eventos de grande porte continua desfavorável por conta da pandemia. </h2>

            <p>
                Apesar de estarmos muito ansiosos para curtir um show novamente, é evidente que a pandemia ainda está longe de deixar isso acontecer. Por conta disso, o Lollapalooza Brasil deve ser adiado pela quarta vez desde o ano passado.
            </p>

            <p>
                Quem afirma isso é o jornalista José Norberto Flesch, conhecido por adiantar confirmações — e agora cancelamentos — de shows no Brasil. </p>

            <p>
                Essa edição do festival teria acontecido originalmente em Abril de 2020, quando a quarentena havia acabado de começar. A dias de acontecer, a produtora T4F adiou o evento para dezembro do mesmo e, eventualmente, para setembro de 2021. Agora, se tudo der
                certo, o Lolla deve acontecer apenas em abril de 2022.
            </p>

            <h2>Lollapalooza desfalcado!!</h2>

            <p>
                Flesch ainda adianta que, por conta de tantas mudanças de datas e a incerteza do mercado de shows no geral, o line-up do festival perdeu seu principal nome, o <a href="http://localhost/Garagem_Login/guns_n_roses.php" target="blank">Guns N’ Roses</a>.
            </p>

            <p>
                Desde o primeiro adiamento do Lolla, a T4F já deixou claro que estava trabalhando para manter a escalação de bandas e artistas, mas não prometeu muita coisa. Os outros headliners, <strong>Travis Scott</strong> e <strong>The Strokes</strong>,
                aparentemente ainda estão de pé.
            </p>

            <p>
                A produtora ainda não fez um comunicado oficial. Torcemos para que o melhor aconteça e para que possamos estar juntos logo!
            </p>
        </div>
        <br />
    </body>

    <%- include ("./partials/footer.ejs") %>