<%- include ("./partials/header.ejs")%>

    <body>
        <div class="container">
            <p>
                Mais conhecida na voz de Cássia Eller, “O Segundo Sol” é uma das mais belas canções da música brasileira e seu autor é, na verdade, Nando Reis.
            </p>

            <p>
                De fato, muita gente já sabe disso — e há várias versões do ex -<a href="http://localhost/Garagem_Login/titas.php" target="blank"> Titãs</a> cantando a faixa — e justamente por isso há algum tempo ele resolveu explicar a história por trás
                da música. Nando chega até a dizer que essa é a pergunta que mais ouviu em toda a sua carreira: o que é o segundo sol?
            </p>

            <p>
                Em resumo, o artista conta que uma amiga muito ligada em astronomia e coisas do tipo veio falar com muita convicção sobre a chegada de um “segundo sol”. Na época em que ouviu o relato, Nando ironizou a colega e reforçou sua crença na ciência — “como assim
                o segundo sol vai chegar e a NASA não está sabendo disso?”.
            </p>

            <p>
                Eventualmente, ele percebeu que estava mantendo sua visão muito fechada e traça um paralelo entre esse “segundo sol” e um segundo ponto de vista, que lhe permitiu expandir sua percepção do mundo.
            </p>

            <p>
                Para entender a explicação completa e saber mais sobre a história dessa música, é só dar o play no vídeo abaixo!
            </p>

            <h2> Nando Reis explicando “O Segundo Sol”</h2>
            <br /><br />

            <iframe width="560" height="315" src="https://www.youtube.com/embed/L2bfWcISW6I" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

    </body>

    <% include("./partials/footer.ejs")%>