<%- include ("./partials/header.ejs")%>

    <body>
        <div class="container">
            <h1>Disco de estreia do <a href="http://localhost/Garagem_Login/nirvana.php" target="blank">Nirvana</a> ganha edição em fita K7 azul limitada a 1989 cópias</h1>
            <br />

            <h2>Lançamento acontece no dia em que o Nirvana fez seu último show e homenageia 27 anos sem Kurt Cobain.</h2>

            <p>
                Grande clássico do final dos anos 80 / início dos anos 90, o disco <a href="nirvana_01_bleack.php" target="blank">Bleach</a> — estreia do Nirvana — acaba de ganhar uma edição pra lá de especial desenvolvida pela Tapehead City.
            </p>

            <p>
                A loja é especializada em fitas K7 e há algum tempo lançou uma edição especial de Valentine’s Day (o Dia dos Namorados) do trabalho. Agora, chegou a vez de uma edição azul e extremamente limitada: apenas 1989 cópias serão disponibilizadas.
            </p>

            <p>
                O anúncio veio no dia do último show do grupo (1º de Março) e a própria loja explica o projeto:
            </p>
            <br />

            <p><strong>"‘Bleach’ foi o álbum de estreia do Nirvana lançado em 15 de Junho de 1989 pela Sub Pop Records. ‘Blew’ era a primeira música no álbum e uma das poucas músicas que o Nirvana continuou tocando em turnês. ‘Blew’ também foi a penúltima música que o Nirvana tocou em seu último show em 1 de Março de 1994.</strong></p>

            <p><strong>A versão de ‘Blew’ para ‘Bleach’ foi acidentalmente gravada um tom abaixo do que a banda queria, o que contribuiu para o que o biógrafo do Nirvana Michael Azerrad chamou de ‘som extraordinariamente pesado’. Sem perceber que eles já tinham afinado para a sua afinação padrão ‘Drop D’, a banda afinou ainda mais baixo para ‘Drop C’ no primeiro dia das gravações e gravou diversas canções nessa afinação. Como o baixista Krist Novoselic relembrou em um artigo do Seattle Times de 2009, ‘nós voltamos no dia seguinte e decidimos que a ideia não era tão boa assim, e nós gravamos por cima da maioria com as coisas de volta à afinação normal. Na verdade, ‘Blew’, com aquele baixo gritante, foi a única sobrevivente daquele experimento.’ Novoselic também disse que ‘Blew’ era talvez sua música preferida do ‘Bleach’ ‘porque ela tem um groove e, de novo, é a única sobrevivente do experimento Doom Pop.’</strong></p>

            <p><strong>Kurt Cobain morreu 27 anos atrás aos 27 anos, o que significa que ele está morto pelo mesmo tempo em que esteve vivo. Um fato triste e de arrepiar. Em homenagem ao Kurt, suas canções e o dia em que o Nirvana fez seu último show nós trazemos a vocês a edição ‘BLEW’ [trocadilho com ‘blue’, inglês para ‘azul’] disponível com exclusividade na Tapehead City!"</strong></p>
            <br />

            <p>A fita custa apenas US$8,99 (pouco mais de R$50) e pode ser encomendada para o Brasil. Basta acessar o
                <a href="https://tapeheadcity.com/products/nirvana-bleach-love-buzz-red-edition-brand-new-cassette-tape?variant=39252871250023" target="blank">site oficial</a> e fazer a pré-compra, ainda disponível quando essa matéria foi publicada.</p>

        </div>
        <br />
    </body>

    <%- include ("./partials/footer.ejs") %>