<%- include("./partials/header.ejs")%>

    <body>
        <div class="container">
            <header>
                <h1>O dia em que Ozzy Osbourne quase matou Slash e Tom Morello.</h1>
            </header>

            <main>
                <article>

                    <h2>Veja vídeo do incidente que quase virou tragédia durante show do Príncipe das Trevas.</h2>

                    <p>
                        Entre 2012 e 2015, Ozzy Osbourne resolveu fazer uma turnê que se chamava “Ozzy and Friends” — Ozzy e amigos — e convidou diversos astros do Rock para participar de seus shows.
                    </p>

                    <p>
                        Em uma fatídica noite, ele convidou <strong>Tom Morello</strong> (Rage Against the Machine, etc.) e <strong>Slash</strong> para tocarem algumas canções. O convite foi prontamente aceito por ambos, mas quase resultou em uma morte
                        no mínimo espetacular para os dois guitarristas por conta de um comportamento imprevisível (pra variar) do vocalista, como Tom contou em uma entrevista a <strong>Howard Stern</strong>.
                    </p>

                    <p>
                        Logo antes de falar sobre o assunto, Morello estava comentando sobre como admirava demais Ozzy e sua banda, a ponto de colocar o nome do seu filho de Rhoads como uma homenagem a <strong>Randy Rhoads</strong>, falecido guitarrista
                        da banda de Osbourne.
                    </p>

                    <p>
                        Ele, então, explica como realizou um sonho e quase morreu na mesma noite:
                    </p>

                    <p>
                        <strong>"Eu tive a oportunidade de tocar com o Ozzy, ele estava fazendo esses shows que eram tipo ‘Ozzy e amigos’ e então aqui estou eu, sabe, o fã número 1 do Randy Rhoads em todos os tempos tendo a chance de tocar músicas como ‘Mr. Crowley’ e tudo mais com o Ozzy Osbourne.</strong>
                    </p>

                    <p>
                        <strong>E éramos eu e o Slash, estávamos tocando em Nova Orleans com o Ozzy, e fizemos lá as nossas coisas e foi ótimo, demos um aperto de mãos e tudo mais. E todos nós íamos voltar para tocar ‘Paranoid’ no fim, no ‘gran finale’, então ele ia tocar ‘Iron Man’, o setlist dizia ‘Mama, I’m Comin’ Home’ e aí seria ‘Paranoid’.</strong>
                    </p>

                    <p>
                        <strong>E aí a equipe nos diz, ‘Ele nunca toca ‘Mama, I’m Comin’ Home’, então depois de ‘Iron Man’ se preparem para voltar e mandar ver em ‘Paranoid”. Tipo, ‘Beleza’. Então pegamos as nossas guitarras e pensamos, ‘Lá vamos nós’. Ele termina ‘Iron Man’, eu e o Slash entramos no palco e o Ozzy fala, ‘A próxima música se chama ‘Mama, I’m Comin’ Home”. [risos]</strong>
                    </p>

                    <p>
                        <strong>Uma música que a gente não sabia tocar. Então a gente foi de fininho até o fundo do palco, e aí ficamos ali atrás dos amplificadores esperando até que eles terminassem a música. E aí tinha esse cara, da equipe, gesticulando muito — ele estava apoplético, mas eu não conseguia ouvi-lo porque está super alto. E ele estava tentando falar algo, e eu e o Slash tipo, ‘Quê?’, e ele parecia estar com medo, como se fosse levar uma bronca por entrar no palco, mas ele está tentando mandar o que é claramente uma mensagem muito importante pra gente.</strong>
                    </p>

                    <p>
                        <strong>Eventualmente ele finalmente vem até nós e nos diz, ‘Vocês estão sentados nos efeitos pirotécnicos’. [risos] Eu e o Slash! O Ozzy Osbourne estava prestes a nos explodir e esse cara quase deixou de nos avisar! [risos] Eu fiquei, tipo, ‘Mano, na próxima vez que eu o Slash estivermos sentados nos efeitos pirotécnicos, por favor venha de uma vez e nos avise logo’. [risos] Que bela forma de ir embora!"</strong>
                    </p>

                    <p>
                        Você pode ver Tom contando essa história (em inglês) pelo vídeo abaixo. Logo depois, há um registro da performance em questão — de “Paranoid”, no caso, quando todos já estavam seguros e felizmente vivos.
                    </p>

                    <p>
                        Tom Morello e Slash quase morreram em show de Ozzy Osbourne.
                    </p>

                    <iframe width="560" height="315" src="https://www.youtube.com/embed/qA-V9l7WP9o" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                </article>
            </main>
        </div>



    </body>

    <%- include("./partials/footer.ejs")%>