<%- include ("./partials/header.ejs")%>

    <body>
        <div class="container">
            <h1><a href="http://localhost/Garagem_Login/pink_floyd.php" target="blank">Pink Floyd</a> e o incrível show de reunião (e despedida) em 2005.</h1>
            <br />

            <h2>Por boa causa, Roger Waters e David Gilmour fizeram as pazes (momentaneamente) e subiram ao palco juntos. </h2>

            <p>
                Para muita gente, o <a href="http://localhost/Garagem_Login/pink_floyd.php" target="blank">Pink Floyd</a> acabou lá nos anos 80 quando <strong>Roger Waters</strong> decidiu sair da banda e o projeto passou a ser muito mais associado a
                <strong>David Gilmour</strong>, enquanto Waters seguiu seu caminho solo.
            </p>

            <p>
                Acontece que, em 2005, o improvável (e quase impossível até então) aconteceu e os dois líderes do lendário grupo “fizeram as pazes”. Bom, mais ou menos: eles foram convidados por Bob Geldof para participar do Live 8 que aconteceria naquele ano, e Roger
                conseguiu convencer David de que o propósito do evento era maior do que quaisquer desavenças.
            </p>

            <p>
                Para fechar com chave de ouro, a performance que aconteceu no Hyde Park, em Londres, ainda teve uma dedicatória a <strong>Syd Barrett</strong> durante “Wish You Were Here”, penúltima canção de um setlist de quase 25 minutos que contou
                também com “Breathe”, “Breathe (Reprise)”, “Money” e “Comfortably Numb”.
            </p>

            <p>
                Infelizmente, o show de reunião acabou sendo também uma despedida. Afinal de contas, foi pouco tempo depois que Wright nos deixou e todos os membros são bem firmes ao afirmar que não faria nenhum sentido reunir o trio remanescente sem a presença do lendário
                tecladista.
            </p>

            <p>
                A parte boa é que esse momento espetacular foi capturado em vídeo e você pode conferir na íntegra logo abaixo.
            </p>

            <h2>Pink Floyd em 2005</h2>
            <br />
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ljaU7YcrKAU" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <br />
    </body>

    <%- include ("./partials/footer.ejs") %>