<%- include ("./partials/header.ejs")%>

    <body>
        <div class="container">

            <header>
                <h1>Rock in Rio é adiado para setembro de 2022 por causa da pandemia.</h1>
            </header>
            <br />

            <main>

                <article>

                    <h2>As novas datas são 2, 3, 4, 8, 9, 10 e 11 de setembro de 2022 - leia o comunicado da organização. </h2>

                    <p>É, não deu. O <strong>Rock In Rio</strong>, previsto para acontecer em setembro deste ano, acaba de ser oficialmente adiado.</p>

                    <p>A notícia foi dada na noite desta quinta-feira (4), durante o Jornal Nacional da Rede Globo. Agora, as novas datas são 2, 3, 4, 8, 9, 10 e 11 de setembro de 2022, na Cidade do Rock, no Rio de Janeiro. </p>

                    <p>No <a href="https://twitter.com/rockinrio/status/1367622848517390337" target="blank">Twitter</a>, a organização emitiu um comunicado que começa com, “Em 2022, o mundo será nosso outra vez”. E continua: </p>

                    <p><strong>"A primavera de 2021 será diferente da que estamos acostumados. Nesse momento, iniciaríamos a montagem de toda a estrutura que dá vida à Cidade do Rock. Porém, acompanhando todos os acontecimentos recentes, 
                            e com base nas indefinições do cenário mundial atual devido à pandemia de Covid-19, comunicamos que o próximo Rock in Rio acontecerá em setembro de 2022. Essa mudança tem um único objetivo: preservar a saúde do
                             nosso público, artistas e equipes que atuam na Cidade do Rock.".</strong></p>

                    <p>Infelizmente é necessário. </p>


                    <h3>Rock In Rio Lisboa</h3>

                    <p>A edição portuguesa do festival também foi adiada. O Rock In Rio Lisboa aconteceria em junho deste ano, e agora acontecerá em 18, 19, 25 e 26 de junho de 2022.</p>

                    <p>Em comunicado, a organização disse (via <a href="https://g1.globo.com/pop-arte/musica/noticia/2021/03/04/rock-in-rio-e-adiado-para-setembro-de-2022-por-causa-da-pandemia-de-covid-19.ghtml" target="blank">G1</a>):</p>

                    <p>
                        <strong>"As mudanças foram baseadas nas indefinições do cenário mundial da pandemia de Covid-19 e no fato de que a esta altura do ano, a organização do evento já estaria entrando tanto no Parque Olímpico, no Rio de Janeiro, quanto no Parque Bela Vista, em Lisboa, para dar início às montagens do evento.".</strong>
                    </p>

                </article>
            </main>
        </div>
        <br />
    </body>

    <%- include ("./partials/footer.ejs") %>