<%- include("./partials/header.ejs")%>

    <body>
        <div class="container">

            <img src="img/serj.jpg" class="serj">

            <p>
                <strong>Serj Tankian</strong> filosofou sobre seu entendimento de Deus durante uma entrevista recente.
            </p>

            <p>
                Ao falar sobre seu novo EP, <strong>Elasticity</strong>, Tankian comentou algumas das letras do trabalho. Vale lembrar que o disco chega no dia 19 de março.
            </p>

            <p>
                Ao comentar a letra de “Rumi”, faixa dedicada ao seu filho, Serj conta que a melodia nasceu enquanto ninava o garoto, à época com 1 ano de idade. Ainda de acordo com o músico, a faixa também tem influência do poeta Rumi, que inspirou o nome de seu herdeiro.
            </p>

            <p>
                Ao ser questionado sobre o uso da palavra “Deus” na canção (“Fique longe de Deus e do crime”), Serj conta:
            </p>

            <p><strong>
                "Eu não gosto da palavra ‘Deus’, porque ela tem sido muito abusada ao longo dos séculos. Eu prefiro palavras mais indígenas como ‘espírito que se move por todas as coisas’, ‘criador’. Isso faz mais sentido para mim como ser humano do que a palavra ‘Deus’.
                Porque Deus também é o deus da vingança — Deus é a razão de termos estabelecido religiões que por tantos anos foram realmente opressoras. Para mim, dizer ‘Deus e o crime’ significa [ser uma] organização. Seja seu próprio homem. Não seja
                parte de nada do qual sua visão não possa precipitar."
            </strong> </p>

            <p>
                Profundo, hein?
            </p>

        </div>
    </body>

    <%- include ("./partials/footer.ejs") %>