<%- include ("./partials/header.ejs")%>

    <body>
        <div class="container">
            <p>
                Há quase exatos 20 anos, o <a href="http://localhost/Garagem_Login/soad.php" target="blank">System of a Down</a> revolucionou o Heavy Metal com a chegada de seu trabalho mais bem-sucedido (e talvez mais aclamado), o excelente <strong>Toxicity</strong>.
            </p>

            <p>
                Ainda faltam alguns meses para o aniversário de fato do disco que saiu em 4 de Setembro, mas resolvemos já começar as comemorações por aqui contando de um vídeo sensacional que está disponível na íntegra no YouTube e mostra os bastidores da banda gravando
                a obra no estúdio.
            </p>

            <p>
                Além das cenas dos músicos efetivamente tocando de maneiras mais cruas do que estamos acostumados a ver, também podemos conferir várias interações bem-humoradas tanto entre os integrantes quanto com as câmeras. Realmente histórico!
            </p>

            <p>
                O vídeo está em inglês e não possui legendas, mas confia na gente: dá pra sentir o clima mesmo sem entender a língua. É só curtir logo a seguir!
            </p>

            <p>
                LEIA TAMBÉM: <a href="serj_tankian" target="blanl">Serj Tankian diz não gostar da palavra “Deus” e explica preferência</a>.
            </p>
            <br />
            <h2> Bastidores de Toxicity, do System of a Down</h2>
            <br />

            <iframe width="560" height="315" src="https://www.youtube.com/embed/c9Oo2RHkOaA" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> </div>
        </div>
        <br />
    </body>

    <%- include ("./partials/footer.ejs") %>