<%- include ("./partials/header.ejs")%>

    <body>
        <div class="container">

            <header>
                <h1>Tony Iommi conta como criou o lendário riff de “Iron Man”, do Black Sabbath.</h1>
            </header>
            <br />

            <main>

                <article>

                    <h2>Guitarrista ainda elegeu as músicas "definitivas" do Sabbath e — surpresa — não incluiu "Paranoid". </h2>

                    <p>
                        Qualquer fã de Heavy Metal que se preze conhece o lendário riff de “Iron Man”, do
                        <a href="http://localhost/Garagem_Login/black_sabbath.php" target="blank">Black Sabbath</a>, e recentemente <strong>Tony Iommi</strong> falou sobre como ele surgiu de uma maneira bem inusitada.
                    </p>

                    <p>
                        Em entrevista com o Songfacts (via Metal Injection), o guitarrista explicou que foi uma sessão de improviso iniciada pelo baterista <strong>Bill Ward</strong> que deu origem a tudo:
                    </p>

                    <p>
                        <strong>"Eu estava em uma sala de ensaio e o Bill começou a tocar esse boom, boom, boom. Ele começou a fazer isso e eu só comecei [faz os barulhos que vêm antes do riff] e surgiu essa coisa e eu pensei, ‘Isso é legal.’ O Bill continuou tocando, e eu só fui pra esse riff.</strong>
                    </p>

                    <p>
                        A maioria dos riffs que eu fiz surgiram na hora, e esse foi um deles — só surgiu. Veio com a bateria, [com] o que o Bill estava tocando. Eu só vi essa coisa na minha mente de alguém se aproximando estranhamente de você, e só soava como esse riff. Na minha
                        cabeça, eu podia ouvi-lo como um monstro, então eu criei aquele riff naquele exato momento".
                    </p>

                    <p>
                        Que baita improviso, hein?
                    </p>

                    <h2>Tony Iommi e as músicas definitivas do <a href="http://localhost/Garagem_Login/black_sabbath.php" target="blank">Black Sabbath</a></h2>

                    <p>
                        Na mesma conversa, Iommi ainda comentou sobre como não acredita que <a href="http://localhost/Garagem_Login/black_sabbath_02_paranoid.php" target="blank">“Paranoid”</a>, seja uma das melhores músicas do Black Sabbath. Para eles,
                        as canções “definitivas” são outras duas:
                    </p>

                    <p>
                        <strong>"Eu sempre me lembro de <a href="http://localhost/Garagem_Login/black_sabbath_01_black_sabbath.php.php" target="blank">"Black Sabbath"</a> e ‘Iron Man’. Muita gente diz <a href="http://localhost/Garagem_Login/black_sabbath_02_paranoid.php" target="blank">“Paranoid”</a>, mas a música foi escrita só pra complementar o álbum — nunca houve a intenção de ser nada além disso. Mas virou um single porque era uma música curta, e porque
                             virou o que virou, a maioria das pessoas nos conhecia por conta de ‘Paranoid’ naqueles dias."</strong>
                    </p>


                    <p>
                        Você pode ler a entrevista completa (em inglês)
                        <a href="http://songfacts.com/blog/interviews/tony-iommi-black-sabbath-heaven-and-hell" target="blank">por aqui</a>.
                    </p>


                    <br />
                </article>
            </main>
        </div>
        <br />
    </body>

    <%- include ("./partials/footer.ejs") %>