<%- include ("./partials/header.ejs")%>

    <body>
        <div class="container">

            <header>
                <h1>Que time! Steven Tyler canta Fleetwood Mac com ZZ Top em vídeo.</h1>
            </header>
            <br />

            <main>

                <article>

                    <h2>Mick Fleetwood chamou um time de peso para tocar "Rattlesnake Shake" ao vivo. </h2>

                    <p>
                        <strong>Steven Tyler</strong> está soltando a voz em uma cover de Fleetwood Mac neste vídeo maravilhoso.
                    </p>

                    <p>
                        O vocalista do <a href="http://localhost/Garagem_Login/aerosmith.php" target="blank">Aerosmith</a> foi um dos convidados de <strong>Mick Fleetwood</strong> para um show comemorativo em fevereiro de 2020, pouco antes do mundo desabar.
                        Em um registro da apresentação divulgado nesta quinta-feira (25), Tyler canta “Rattlesnake Shake”, de 1969, ao lado de Mick, <strong>Billy Gibbons</strong> <a href="http://localhost/Garagem_Login/zz_top.php" target="blank">(ZZ Top)</a>,
                        <strong>Zak Starkey </strong> <a href="http://localhost/Garagem_Login/the_who.php" target="blank">(The Who)</a> e mais.
                    </p>

                    <p>
                        O show, chamado de <strong> Mick Fleetwood and Friends – A Celebration For Peter Green </strong>, foi realizado em homenagem ao cofundador do grupo. Pela apresentação também passaram nomes como <strong>Kirk Hammett</strong>
                        <a href="http://localhost/Garagem_Login/metallica.php" target="blank">(Metallica)</a> e <strong>Noel Gallagher</strong>.
                    </p>

                    <p>
                        O show será exibido em março nos cinemas da Europa e depois divulgado ao mundo todo por meio de compra online. No dia 30 de abril, o filme chega nos formatos LP quádruplo, CD du plo, Blu-Ray e áudio digital pela BMG. </p>

                    <p>
                        Confira o vídeo!
                    </p>
                    <br />
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/Z7xbZhD4sPA" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


                </article>
            </main>
        </div>
        <br />
    </body>

    <%- include ("./partials/footer.ejs") %>