<%- include ("./partials/header.ejs")%>

    <body>
        <div class="container">

            <header>
                <h1>Vendas de discos de vinil aumentaram quase 30% durante a pandemia.</h1>
            </header>
            <br />

            <main>

                <article>

                    <h2>Segundo a Associação Americana da Indústria de Gravação, em 2020 além do vinil o streaming também continuou a crescer. </h2>

                    <p>
                        Mesmo com a pandemia do coronavírus afetando alguns setores da indústria da música como turnês, festivais e mais, as vendas de discos de vinil aumentaram quase 30% em 2020.
                    </p>

                    <p>
                        De acordo com o relatório anual de receita de fim de ano da Associação Americana da Indústria de Gravação (via Pitchfork), que avaliou o estado da indústria da música gravada no final do ano passado, as tendências dos últimos anos continuam se mantendo.
                    </p>

                    <h2>Discos de vinil</h2>

                    <p>
                        Segundo a publicação, as vendas de vinil continuaram crescendo e aumentaram 29,2%. Em 2019, o valor foi US$479,5 milhões e no último ano alcançou US$619,6 milhões.
                    </p>

                    <p>
                        Esse aumento nas vendas dos discos de vinil acabou compensando a constante diminuição nas vendas de CD, que na receita de mídias físicas de 2019 a 2020 teve uma redução marginal de 0,5%.
                    </p>

                    <p>
                        O que também continua a diminuir são os downloads de música. Eles tiveram uma redução de 18% para US$674,4 milhões no ano passado em comparação com US$822,8 milhões em 2019.
                    </p>

                    <h2>O crescimento do streaming</h2>

                    <p>
                        A participação do streaming nas receitas totais da música gravada continuou a crescer e atingiu 83% em 2020.
                    </p>

                    <p>
                        Com uma ampla opção de serviços, o streaming aumentou 13,4%m gerando US$10,1 bilhões em 2020 em comparação com US$8,9 bilhões em 2019.
                    </p>

                    <p>
                        O relatório da Associação concluiu que o streaming foi fundamental para ajudar a indústria a crescer pelo quinto ano consecutivo. Sua receita aumentou 9,2% em 2020, gerando US$12,2 bilhões no total.
                    </p>

                    <p>
                        Você pode conferir o relatório clicando <a href="https://www.riaa.com/wp-content/uploads/2021/02/2020-Year-End-Music-Industry-Revenue-Report.pdf" target="blank">AQUI</a>!
                    </p>
                    <br />
                </article>
            </main>
        </div>
        <br />
    </body>

    <%- include ("./partials/footer.ejs") %>